body{
    margin:0;
}

header{
    font-family: 'Bitter', serif;
    font-weight: 700;
    text-align: center;
    background-color: rgba(0%, 0%, 0%, .45);
    color: #b17b46;
    position: fixed;
    width:100%;
    z-index: 1;
    display: flex;
    justify-content: center;
}
header a{
    font-weight: 700;
    font-size: .75rem;
    align-self: center;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #b17b46;
    text-decoration: none;
}
header a h1{
    font-size: 2.3rem;
}

header a:hover{
    color: #D59454;
}

.mobile-header{
    display:none;
    text-align: center;
    background-color: rgba(0%, 0%, 0%, .45);
    color: #b17b46;
    font-family: 'Bitter', serif;
    font-weight: 700;
}


#banner{
    background-image: url(banner.jpg);
    max-width: 100%;
    height: 100vh;
    /*background-repeat: no-repeat;*/
    background-size: 100% 100%;
   /* border: red solid 3px;*/
}

#activities{
    background-image: url(activities-background.jpg);
    max-width: 100;
    height: 100vh;
    /*border: solid red 3px;*/
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    width: 80%;
    height: 70%;
    /*border: blue 3px solid;*/
    display: grid;
    gap: 1.5rem;
    overflow: scroll;
    grid-template-areas: 
    'share share play'
    'discuss discuss play'
    'listen listen play'
    ;
}


.share{
    grid-area: share;
    display:grid;
    justify-content: space-between;
    /*border: green 3px solid;*/
    grid-template-columns: 2fr 1fr;
    
}

.share img{
    width: 40%;
    height: 50%;
    /*border: blue solid 2px;*/
    grid-row: 1 / span 2;
    grid-column: 2;
    justify-self: center;
    align-self: center;
}

.discuss{
    grid-area: discuss;
    display: grid;
    grid-template-columns: 2fr 1fr;
   /* border: yellow 3px solid;*/
}

.discuss img{
    width: 40%;
    height: 50%;
    /*border: blue solid 2px;*/
    grid-row: 1 / span 2;
    grid-column: 2;
    justify-self: center;
    align-self: center;
}

.play {
    grid-area: play;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    /*border: blue 3px solid;*/
}

.play img{
    width: 60%;
    height: 70%;
    /*border: blue solid 2px;*/
    justify-self: center;
    align-self: center;
}

.listen{
    grid-area:listen;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /*border: purple 3px solid;*/
}
.listen img{
    width: 40%;
    height: 50%;
    /*border: blue solid 2px;*/
    grid-row: 1 / span 2;
    grid-column: 2;
    justify-self: center;
    align-self: center;
}

.activity{
    /*border: pink 3px solid;*/
    background-color: rgba(0%, 0%, 0%, .45);
    color: white
}

.activity p{
    margin-left: 2rem;

}

.activity strong{
    font-size: 3rem;
    margin-right: 1rem;
}

#join{
    background-image: url(Bricks.jpg);
    max-width: 100%;
    height: 100vh;
    background-size: 100%, 100%;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bitter', serif;
   color: #2E221B;
}

#join h2{
    margin-bottom: 10%;
    font-size: 4rem;
}

.contact{

    background-color: #934718c6;
    width: 80%;
    padding: 5%
}

@media only screen and (max-width:764px){
    header a{
        font-size: .5rem;;
    }
    
    header a h1{
        font-size: 1.5rem;
    }
    
}

@media only screen and (max-width: 875px){
    .grid{
        grid-template-areas: 
    'share share'
    'discuss discuss'
    'listen listen'
    'play play'
    ;
    }
    .activity strong{
        font-size: 1.5rem;
    }
    .activity p{
        margin: .5rem;
    }
    .play{
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr
    }
    .play img{
        width: 40%;
        height: 50%;
        justify-self: center;
        align-self: center;
        grid-row: 1 / span 2;
        grid-column: 2;
    }

    #join h2{
        font-size: 3rem;
    }

}


@media only screen and (max-width:200px){
    header{
        display:none;
    }
    .mobile-header{
        display: flex;
    }
}


